# Data Cleaning

In this notebook I will be looking at the dataset for invalid/missing entries as well as other mistakes in the dataset and cleaning it up to prepare for machine learning.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [3]:
dataset_size=df.shape
print(dataset_size)

(76020, 371)

In [4]:
df.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

In [5]:
df_info = df.info()
df_head = df.head()

df_info, df_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

(None,
    ID  var3  var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
 0   1     2     23                 0.0                      0.0
 1   3     2     34                 0.0                      0.0
 2   4     2     23                 0.0                      0.0
 3   8     2     37                 0.0                    195.0
 4  10     2     39                 0.0                      0.0

    imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  imp_op_var40_comer_ult3  \
 0                      0.0                      0.0                      0.0
 1                      0.0                      0.0                      0.0
 2                      0.0                      0.0                      0.0
 3                    195.0                      0.0                      0.0
 4                      0.0                      0.0                      0.0

    imp_op_var40_efect_ult1  imp_op_var40_efect_ult3  ...  \
 0                      0.0                      0.0  ...
 1                      0.0                      0.0  ...
 2                      0.0                      0.0  ...
 3                      0.0                      0.0  ...
 4                      0.0                      0.0  ...

    saldo_medio_var33_hace2  saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
 0                      0.0                      0.0                     0.0
 1                      0.0                      0.0                     0.0
 2                      0.0                      0.0                     0.0
 3                      0.0                      0.0                     0.0
 4                      0.0                      0.0                     0.0

    saldo_medio_var33_ult3  saldo_medio_var44_hace2  saldo_medio_var44_hace3  \
 0                     0.0                      0.0                      0.0
 1                     0.0                      0.0                      0.0
 2                     0.0                      0.0                      0.0
 3                     0.0                      0.0                      0.0
 4                     0.0                      0.0                      0.0

    saldo_medio_var44_ult1  saldo_medio_var44_ult3          var38  TARGET
 0                     0.0                     0.0   39205.170000       0
 1                     0.0                     0.0   49278.030000       0
 2                     0.0                     0.0   67333.770000       0
 3                     0.0                     0.0   64007.970000       0
 4                     0.0                     0.0  117310.979016       0

 [5 rows x 371 columns])

In [6]:
data_types = df.dtypes

print("Data Types and Additional Information:")
for column in df.columns:
    print(f"Column: {column}")
    print(f" - Data Type: {data_types[column]}")
    print(f" - Number of Unique Values: {df[column].nunique()}")
    print(f" - Sample Values: {df[column].dropna().unique()[:5]}")  
    print()

Data Types and Additional Information:
Column: ID
 - Data Type: int64
 - Number of Unique Values: 76020
 - Sample Values: [ 1  3  4  8 10]

Column: var3
 - Data Type: int64
 - Number of Unique Values: 208
 - Sample Values: [  2 229 178   0   8]

Column: var15
 - Data Type: int64
 - Number of Unique Values: 100
 - Sample Values: [23 34 37 39 27]

Column: imp_ent_var16_ult1
 - Data Type: float64
 - Number of Unique Values: 596
 - Sample Values: [   0.  600.  525. 3000.   24.]

Column: imp_op_var39_comer_ult1
 - Data Type: float64
 - Number of Unique Values: 7551
 - Sample Values: [   0.    195.   1086.48   55.2   117.75]

Column: imp_op_var39_comer_ult3
 - Data Type: float64
 - Number of Unique Values: 9099
 - Sample Values: [   0.    195.   1952.91   70.95  122.25]

Column: imp_op_var40_comer_ult1
 - Data Type: float64
 - Number of Unique Values: 293
 - Sample Values: [  0.   247.56 828.18 746.1  383.85]

Column: imp_op_var40_comer_ult3
 - Data Type: float64
 - Number of Unique Values: 346
 - Sample Values: [   0.    835.86 2320.65  284.82  746.1 ]

Column: imp_op_var40_efect_ult1
 - Data Type: float64
 - Number of Unique Values: 23
 - Sample Values: [   0.  750.  600.  210. 1800.]

Column: imp_op_var40_efect_ult3
 - Data Type: float64
 - Number of Unique Values: 29
 - Sample Values: [   0.  960.  600.  210. 1800.]

Column: imp_op_var40_ult1
 - Data Type: float64
 - Number of Unique Values: 224
 - Sample Values: [   0.   1585.86  828.18  383.85  670.35]

Column: imp_op_var41_comer_ult1
 - Data Type: float64
 - Number of Unique Values: 7421
 - Sample Values: [   0.    195.   1086.48   55.2   117.75]

Column: imp_op_var41_comer_ult3
 - Data Type: float64
 - Number of Unique Values: 8961
 - Sample Values: [   0.    195.   1952.91   70.95  122.25]

Column: imp_op_var41_efect_ult1
 - Data Type: float64
 - Number of Unique Values: 331
 - Sample Values: [  0. 360. 300.  60. 660.]

Column: imp_op_var41_efect_ult3
 - Data Type: float64
 - Number of Unique Values: 454
 - Sample Values: [   0.  750. 1320.   60.  660.]

Column: imp_op_var41_ult1
 - Data Type: float64
 - Number of Unique Values: 8032
 - Sample Values: [   0.    195.   1446.48   55.2   117.75]

Column: imp_op_var39_efect_ult1
 - Data Type: float64
 - Number of Unique Values: 336
 - Sample Values: [  0. 360. 300.  60. 660.]

Column: imp_op_var39_efect_ult3
 - Data Type: float64
 - Number of Unique Values: 462
 - Sample Values: [   0.  750. 2280.   60.  660.]

Column: imp_op_var39_ult1
 - Data Type: float64
 - Number of Unique Values: 8149
 - Sample Values: [   0.    195.   1446.48   55.2   117.75]

Column: imp_sal_var16_ult1
 - Data Type: float64
 - Number of Unique Values: 66
 - Sample Values: [    0. 29250.    45.  1227. 12000.]

Column: ind_var1_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var1
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var2_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var2
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var5_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [1 0]

Column: ind_var5
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var6_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var6
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var8_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var8
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var12_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var12
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_corto_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_corto
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_largo_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_largo
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_medio_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13_medio
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var13
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var14_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var14
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var17_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var17
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var18_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var18
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var19
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var20_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var20
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var24_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var24
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var25_cte
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var26_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var26_cte
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var26
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var25_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var25
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var27_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var28_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var28
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var27
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var29_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var29
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var30_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [1 0]

Column: ind_var30
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var31_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var31
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var32_cte
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var32_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var32
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var33_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var33
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var34_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var34
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var37_cte
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var37_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var37
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var39_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [1 0]

Column: ind_var40_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var40
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var41_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [1 0]

Column: ind_var41
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var39
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var44_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var44
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 1]

Column: ind_var46_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: ind_var46
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var1_0
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var1
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var4
 - Data Type: int64
 - Number of Unique Values: 8
 - Sample Values: [0 1 3 2 4]

Column: num_var5_0
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [ 3  0  6  9 15]

Column: num_var5
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [ 0  3  6  9 15]

Column: num_var6_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var6
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var8_0
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var8
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var12_0
 - Data Type: int64
 - Number of Unique Values: 6
 - Sample Values: [ 0  3  6  9 15]

Column: num_var12
 - Data Type: int64
 - Number of Unique Values: 4
 - Sample Values: [ 0  3  6 15]

Column: num_var13_0
 - Data Type: int64
 - Number of Unique Values: 7
 - Sample Values: [ 0  3  6  9 15]

Column: num_var13_corto_0
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var13_corto
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var13_largo_0
 - Data Type: int64
 - Number of Unique Values: 7
 - Sample Values: [ 0  3  6  9 15]

Column: num_var13_largo
 - Data Type: int64
 - Number of Unique Values: 7
 - Sample Values: [ 0  3  6  9 15]

Column: num_var13_medio_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var13_medio
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var13
 - Data Type: int64
 - Number of Unique Values: 7
 - Sample Values: [ 0  3  6  9 15]

Column: num_var14_0
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [  0   3   6  12 111]

Column: num_var14
 - Data Type: int64
 - Number of Unique Values: 4
 - Sample Values: [ 0  3  6 12]

Column: num_var17_0
 - Data Type: int64
 - Number of Unique Values: 11
 - Sample Values: [ 0  3  6 18 12]

Column: num_var17
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  3  6 18 12]

Column: num_var18_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var18
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var20_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var20
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var24_0
 - Data Type: int64
 - Number of Unique Values: 4
 - Sample Values: [0 3 6 9]

Column: num_var24
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var26_0
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  6  3 12  9]

Column: num_var26
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  6  3 12  9]

Column: num_var25_0
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  6  3 12  9]

Column: num_var25
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  6  3 12  9]

Column: num_op_var40_hace2
 - Data Type: int64
 - Number of Unique Values: 19
 - Sample Values: [ 0  3 15 12  6]

Column: num_op_var40_hace3
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [ 0  3  9  6 48]

Column: num_op_var40_ult1
 - Data Type: int64
 - Number of Unique Values: 30
 - Sample Values: [ 0 27  9  6 18]

Column: num_op_var40_ult3
 - Data Type: int64
 - Number of Unique Values: 35
 - Sample Values: [ 0 30 27  6 69]

Column: num_op_var41_hace2
 - Data Type: int64
 - Number of Unique Values: 51
 - Sample Values: [ 0 45  6  3 78]

Column: num_op_var41_hace3
 - Data Type: int64
 - Number of Unique Values: 22
 - Sample Values: [ 0  9 30 60  3]

Column: num_op_var41_ult1
 - Data Type: int64
 - Number of Unique Values: 68
 - Sample Values: [ 0  9 72 63 54]

Column: num_op_var41_ult3
 - Data Type: int64
 - Number of Unique Values: 96
 - Sample Values: [  0   9 126  15  66]

Column: num_op_var39_hace2
 - Data Type: int64
 - Number of Unique Values: 50
 - Sample Values: [ 0 45  6  3 81]

Column: num_op_var39_hace3
 - Data Type: int64
 - Number of Unique Values: 22
 - Sample Values: [ 0  9  3 30 60]

Column: num_op_var39_ult1
 - Data Type: int64
 - Number of Unique Values: 71
 - Sample Values: [ 0  9 72 63 81]

Column: num_op_var39_ult3
 - Data Type: int64
 - Number of Unique Values: 99
 - Sample Values: [  0   9 126  15  66]

Column: num_var27_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var28_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var28
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var27
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var29_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var29
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var30_0
 - Data Type: int64
 - Number of Unique Values: 11
 - Sample Values: [ 3  6  9  0 12]

Column: num_var30
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  3  6  9 12]

Column: num_var31_0
 - Data Type: int64
 - Number of Unique Values: 11
 - Sample Values: [ 0  3  6 18 12]

Column: num_var31
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 0  3  6 18 12]

Column: num_var32_0
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [ 0  3  6 12  9]

Column: num_var32
 - Data Type: int64
 - Number of Unique Values: 5
 - Sample Values: [ 0  3  6 12  9]

Column: num_var33_0
 - Data Type: int64
 - Number of Unique Values: 4
 - Sample Values: [ 0  3  6 12]

Column: num_var33
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var34_0
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var34
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var35
 - Data Type: int64
 - Number of Unique Values: 13
 - Sample Values: [ 0  3  9  6 12]

Column: num_var37_med_ult2
 - Data Type: int64
 - Number of Unique Values: 21
 - Sample Values: [ 0  6  9  3 15]

Column: num_var37_0
 - Data Type: int64
 - Number of Unique Values: 22
 - Sample Values: [ 0  6  9 21  3]

Column: num_var37
 - Data Type: int64
 - Number of Unique Values: 22
 - Sample Values: [ 0  6  9 21  3]

Column: num_var39_0
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 3  0  6  9 12]

Column: num_var40_0
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var40
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var41_0
 - Data Type: int64
 - Number of Unique Values: 9
 - Sample Values: [ 3  0  6  9 12]

Column: num_var41
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var39
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var42_0
 - Data Type: int64
 - Number of Unique Values: 8
 - Sample Values: [ 3  6  0  9 12]

Column: num_var42
 - Data Type: int64
 - Number of Unique Values: 7
 - Sample Values: [ 0  3  6  9 12]

Column: num_var44_0
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [0 3 6]

Column: num_var44
 - Data Type: int64
 - Number of Unique Values: 2
 - Sample Values: [0 3]

Column: num_var46_0
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: num_var46
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: saldo_var1
 - Data Type: float64
 - Number of Unique Values: 285
 - Sample Values: [   0.   1623.36  828.18  746.1   144.  ]

Column: saldo_var5
 - Data Type: float64
 - Number of Unique Values: 11642
 - Sample Values: [0.00000e+00 3.00000e+00 7.06200e+01 9.00000e+01 3.07905e+03]

Column: saldo_var6
 - Data Type: float64
 - Number of Unique Values: 3
 - Sample Values: [    0.  11976.6 19531.8]

Column: saldo_var8
 - Data Type: float64
 - Number of Unique Values: 1989
 - Sample Values: [    0.   12748.23  3358.74 24633.84   780.  ]

Column: saldo_var12
 - Data Type: float64
 - Number of Unique Values: 3059
 - Sample Values: [0.000000e+00 1.350030e+05 1.200000e+05 3.006000e+01 5.915823e+04]

Column: saldo_var13_corto
 - Data Type: float64
 - Number of Unique Values: 730
 - Sample Values: [     0.    300.  27000.  84900. 120000.]

Column: saldo_var13_largo
 - Data Type: float64
 - Number of Unique Values: 229
 - Sample Values: [     0.  27000. 105000.  93000. 120000.]

Column: saldo_var13_medio
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [    0 30000  9000]

Column: saldo_var13
 - Data Type: float64
 - Number of Unique Values: 859
 - Sample Values: [     0.    300.  27000.  84900. 120000.]

Column: saldo_var14
 - Data Type: float64
 - Number of Unique Values: 345
 - Sample Values: [    0.   33622.65 48610.77  3601.38   330.09]

Column: saldo_var17
 - Data Type: float64
 - Number of Unique Values: 111
 - Sample Values: [    0.    3065.94 60851.22 14569.98 32224.11]

Column: saldo_var18
 - Data Type: int64
 - Number of Unique Values: 3
 - Sample Values: [      0 3000000  300000]

Column: saldo_var20
 - Data Type: float64
 - Number of Unique Values: 176
 - Sample Values: [    0.    2287.59  5701.98 36012.69   600.33]

Column: saldo_var24
 - Data Type: float64
 - Number of Unique Values: 2614
 - Sample Values: [0.000000e+00 1.350030e+05 1.200000e+05 3.006000e+01 5.915823e+04]

Column: saldo_var26
 - Data Type: float64
 - Number of Unique Values: 1592
 - Sample Values: [    0.    3716.22 12084.6   1278.     226.02]

Column: saldo_var25
 - Data Type: float64
 - Number of Unique Values: 1524
 - Sample Values: [    0.    3716.22 12084.6   1278.     226.02]

Column: saldo_var28
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: saldo_var27
 - Data Type: int64
 - Number of Unique Values: 1
 - Sample Values: [0]

Column: saldo_var29
 - Data Type: float64
 - Number of Unique Values: 3
 - Sample Values: [    0.  11976.6 19531.8]

Column: saldo_var30
 - Data Type: float64
 - Number of Unique Values: 16940
 - Sample Values: [0.00000e+00 3.00000e+02 3.00000e+00 7.06200e+01 1.35003e+05]

Column: saldo_var31
 - Data Type: float64
 - Number of Unique Values: 278
 - Sample Values: [    0.    3065.94 25216.71 12013.65 60851.22]

Column: saldo_var32
 - Data Type: float64
 - Number of Unique Values: 75
 - Sample Values: [   0.   1323.81 2737.65  436.5  7340.76]

Column: saldo_var33
 - Data Type: float64
 - Number of Unique Values: 48

Right off the bat it looks like there is a lot of information given in the dataset. There are 76020 entries and 371 columns. 111 of the columns are float type data while the other 260 columns are integer type data. 

The important column is the "TARGET" column where it identifies whether or not the customer was satisfied with their shopping experience. 1 identifies an unsatisfied customer while 0 idnetifies a satsified customer.  

The ID column gives each customer entry a unique ID.  

The rest of the columns are variables that give explanation as to why a customer was or was not satisfied. Most of the values for these columns seem to be 0 or 1 which indicates that these columns are using binary classification. Meaning that for the columns that have 0 or 1, if there is a 1 it means that the customer has most likely experience that variable which contributes to their overall satisfaction. This also indicates that one hot encoding may have already been used.

In [7]:
df.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

There are some instances of an arbitrary number being used (-9999999) to show that there is a missing or invalid value.

In [11]:
invalid_entries = df[df.select_dtypes(include=['number']) == -999999].count()
print("Invalid Entries:\n", invalid_entries)

Invalid Entries:
 ID                           0
var3                       116
var15                        0
imp_ent_var16_ult1           0
imp_op_var39_comer_ult1      0
                          ...
saldo_medio_var44_hace3      0
saldo_medio_var44_ult1       0
saldo_medio_var44_ult3       0
var38                        0
TARGET                       0
Length: 371, dtype: int64

In [12]:
missing_entries=df.isnull()
missing_entries

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
76016,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
76017,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
76018,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
76019,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
np.any(df.isnull())

False

It seems that there are no missing entries but there are 116 invalid entries in var3 that have the -999999 to indicate that the information was originally missing or wrong.

In [12]:
duplicates = df.duplicated().sum()
print("Number of Duplicate Records:", duplicates)

Number of Duplicate Records: 0